* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  background-color: orange;
}
html,
body {
  height: 100%;
  width: 100%;
}
.card{
  background-color: rgb(228, 7, 44);
  border-radius: 10px;
  margin: 20px;
  color: white;
  padding: 20px;
}
.nav{
  background-color: lightblue;
  padding: 20px;
  margin: 5px;
}