.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(62, 123, 193);
}
body{
    background: black;
}
*{
    color: white;
}
.nav div{
    display: flex;
    align-items: center;
    gap: 40px;
}