button{
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}
.main{
    height: 50vh;
    width:100%;
    background-color: rgb(92, 24, 29);
    /* padding: 0 0 0 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px 50px;
    color: silver;
    text-decoration: underline;
    font-size: 40px;
}
h2{
    padding: 10px 80px;
    width: fit-content;
    margin: 10px;
    color: white;
    background-color: rgb(27, 30, 240);
    font-size: 100px;
    border-radius: 25px;
}

.onebtn{
    background-color: rgb(29, 225, 29);
}
.twobtn{
    background-color: rgb(249, 47, 47);
}
.threebtn{
    background-color: burlywood;
}